PANEL_URL=https://dashboard.bulknodes.xyz
WS_URL=wss://dashboard.bulknodes.xyz/ws
DISCORD_TOKEN=
CONNECT_SID=
CF_CLEARANCE=
SERVER_ID=110
RENEW_THRESHOLD=700
RENEW_DAYS=7
COST_PER_DAY=100
RUN_MINUTES=340
CHECK_INTERVAL=120
HEARTBEAT_INTERVAL=30
WATCHDOG_MIN=10
